*{
    background-color: black;
    color-scheme: dark;
}
#luffyimage{
    width: 399px;
    height: 266px;
    border-radius: 20px;
    position: absolute;
    top: 135px;
    left: 45px;
    border: 5px solid purple;
    /* border-image: linear-gradient(45deg, purple, red) 1; */
    /* border-radius: 20px; */
} 

#crewimage{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    background-image: url(Images/crew.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 535px;
    left: 45px;
    border: 5px solid purple;
    background-size: contain;
    display: inline-block;
}
#win{
    width: 350px;
    height: 197px;
    border-radius: 20px;
    position: absolute;
    background-image: url(Images/win.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 894px;
    left: 75px;
    border: 5px solid purple;
    background-size: contain;
    display: inline-block;
}

.description {
    position: absolute;
    left: 101px;
    top: 3px;
    font-family: 'Inter', cursive;
    font-weight: 800;
    font-size: 45px;
    color: rgb(189, 0, 255);
    background-clip: text; 
    display: inline-block;
}
.title {
    position: absolute;
    left: 504px;
    top: 113px;
    /* color: white; */
    background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Inter',cursive;
}
.note{
    position: absolute;
    left: 496px;
    top: 175px;
    color: white;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
.pos1{
    position: absolute;
    top: 299px;
    left: 510px;
}
#li1{
    color: white;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
.lists{
    display: block;
}
#li2{
    color: white;
    position: absolute;
    left: 510px;
    top: 403px;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
#li3{
    color: white;
    position: absolute;
    left: 510px;
    top: 506px;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
#li4{
    color: white;
    position: absolute;
    left: 510px;
    top: 625px;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
#li5{
    color: white;
    position: absolute;
    left: 510px;
    top: 739px;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
#li6{
    color: white;
    position: absolute;
    left: 510px;
    top: 845px;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
/* #lib{
    opacity: 0;
    position: absolute;
    left: 510px;
    color:  white;
    top: 1214px;
} */
#li7{
    color: white;
    position: absolute;
    left: 510px;
    top: 949px;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
#li8{
    color: white;
    position: absolute;
    left: 510px;
    top: 1084px;
    font-family: 'Inter',cursive;
    font-weight: 600;
}
.abilities{
    position: absolute;
    left: 504px;
    top: 1240px;
    /* color: white; */
    background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Inter',cursive;
}
#lia1{
    position: absolute;
    left: 528px;
    top: 1307px;
    /* color: white; */
    background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter',cursive;
}
#lia2{
    position: absolute;
    left: 528px;
    top: 1352px;
    /* color: white; */
    background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter',cursive;
}
#lia3{
    position: absolute;
    left: 528px;
    top: 1397px;
    /* color: white; */
    background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter',cursive;
}
#lia4{
    position: absolute;
    left: 528px;
    top: 1442px;
    /* color: white; */
    background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter',cursive;
}
#lia5{
    position: absolute;
    left: 528px;
    top: 1487px;
    /* color: white; */
    background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter',cursive;
}
#final{
    width: 1149px;
    height: 300px;
    position: relative;
    top: 1552px;
    left: -9px;
    /* margin: 0px; */
    background-color: rgb(16,16,16);
}
p{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    /* margin-top: 4px; */
    position: absolute;
    top: 105px;
    left: 206px;
    background-color: rgb(16,16,16); ;
}
